body {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    margin-right: 125px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.body {
    display: flex;
}

.top-section {
    margin-top: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 300px;
    color: white;
    padding: 100px;
}

.title {
    font-size: 48px;
    width: 300px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    width: 400px;
}

button {
    width: 100px;
    height: 25px;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0;
}

.footer {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
    gap: 20px;
}